.fw600 {

  font-weight: 600;

}

.textblack {

  color: black !important;
}

.textblack > a {
  color: black !important;

}

.mt35 {
  margin-top: 35px !important;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(40, 44, 52);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: black;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  background-color: #e4e4e4;
  border: 1px solid #ababab;
  padding: 4px;
}

.insideContent {
  background-color: #fff;
  padding: 4px;
}

#tableone th {

  font-size: 14px;
  font-weight: 500;
}

.f-14 {
  font-size: 14px;

}

.bottomcontent {

  padding: 30px;
}

#tablebottom td {


  padding-bottom: 10px;


}


.btn1 {
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px soild #ababab;
  width: 100px;
}
.bg-secondary{
  background-color: #686868 !important;
}
.btn2 {
  border-radius: 10px;
  padding: 2px;
  border: 1px soild #ababab;
  width: 100px;
}

.btn3 {
  border-radius: 20px;
  padding: 5px 20px;
  border: 1px soild #ababab;
}
