<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Company</h5>
          <h5 *ngIf="isEditing">Edit Company</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.companyFormGroup" novalidate>
            <div>
              <div class="col-md-4 mb-3">
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                       formControlName="companyName"
                       required>
                <div *ngIf="this.form.companyName.touched && this.form.companyName.errors?.required"
                     class="text text-danger">
                  Company Name is required.
                </div>
                <div *ngIf="this.form.companyName.touched && this.form.companyName.errors?.maxlength"
                     class="text text-danger">
                  Company Name must be less than {{this.form.companyName.errors?.maxlength?.requiredLength}}
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="logo">Company Logo</label>
                <input type="file" class="form-control" id="logo" placeholder="Company Logo"
                       formControlName="logo"
                       required>
              </div>
            </div>
            <button class="btn btn-primary mt-1" [disabled]="this.companyFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
