<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Lotto Variant</h5>
          <h5 *ngIf="isEditing">Edit Lotto Variant</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.lottoVariantFormGroup"
                novalidate>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="itemId">Item Id</label>
                <input type="number" class="form-control" id="itemId" placeholder="Item Id"
                       formControlName="itemId"
                       required>
                <div *ngIf="this.form.itemId.touched && this.form.itemId.errors?.required"
                     class="text text-danger">
                  Item Id is required.
                </div>
                <div *ngIf="this.form.itemId.touched && this.form.itemId.errors?.maxlength"
                     class="text text-danger">
                  Item Id must be less than {{this.form.itemId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="itemDesc">Item Description</label>
                <input type="text" class="form-control" id="itemDesc" placeholder="Item Description"
                       formControlName="itemDesc" required>
                <div *ngIf="this.form.itemDesc.touched && this.form.itemDesc.errors?.required"
                     class="text text-danger">
                  Item Description is required.
                </div>
                <div *ngIf="this.form.itemDesc.touched && this.form.itemDesc.errors?.maxlength"
                     class="text text-danger">
                  Item Description must be less than {{this.form.itemDesc.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="itemCode">Item Code</label>
                <input type="text" class="form-control" id="itemCode" placeholder="Item Code"
                       formControlName="itemCode" required>
                <div *ngIf="this.form.itemCode.touched && this.form.itemCode.errors?.required"
                     class="text text-danger">
                  Item Code is required.
                </div>
                <div *ngIf="this.form.itemCode.touched && this.form.itemCode.errors?.maxlength"
                     class="text text-danger">
                  Item Code must be less than {{this.form.itemCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="commRate">Comm Rate</label>
                <input type="number" class="form-control" id="commRate" placeholder="Comm Rate"
                       formControlName="commRate" required>
                <div *ngIf="this.form.commRate.touched && this.form.commRate.errors?.required"
                     class="text text-danger">
                  Comm Rate is required.
                </div>
                <div *ngIf="this.form.commRate.touched && this.form.commRate.errors?.maxlength"
                     class="text text-danger">
                  Comm Rate must be less than {{this.form.commRate.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="unitPrice">Unit Price</label>
                <input type="number" class="form-control" id="unitPrice" placeholder="Unit Price"
                       formControlName="unitPrice" required>
                <div *ngIf="this.form.unitPrice.touched && this.form.unitPrice.errors?.required"
                     class="text text-danger">
                  Unit Price is required.
                </div>
                <div *ngIf="this.form.unitPrice.touched && this.form.unitPrice.errors?.maxlength"
                     class="text text-danger">
                  Unit Price must be less than {{this.form.unitPrice.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="showInSearch">
                <input class="checkbox_animated" id="showInSearch"
                       type="checkbox" formControlName="showInSearch">
                Show In Search
              </label>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="showInReport">
                <input class="checkbox_animated" id="showInReport"
                       type="checkbox" formControlName="showInReport">
                Show In Report
              </label>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="lottoGame">
                <input class="checkbox_animated" id="lottoGame"
                       type="checkbox" formControlName="lottoGame">
                Lotto Game
              </label>
            </div>

            <button class="btn btn-primary mt-1" [disabled]="this.lottoVariantFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
