<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add User</h5>
          <h5 *ngIf="isEditing">Edit User</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.inventoryFormGroup"
                novalidate>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="itemId">Item Id</label>
                <input type="number" class="form-control" id="itemId" placeholder="Item Id"
                       formControlName="itemId"
                       required>
                <div *ngIf="this.form.itemId.touched && this.form.itemId.errors?.required"
                     class="text text-danger">
                  Item Id is required.
                </div>
                <div *ngIf="this.form.itemId.touched && this.form.itemId.errors?.maxlength"
                     class="text text-danger">
                  Item Id must be less than {{this.form.itemId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="itemDesc">Item Description</label>
                <input type="text" class="form-control" id="itemDesc" placeholder="Item Description"
                       formControlName="itemDesc" required>
                <div *ngIf="this.form.itemDesc.touched && this.form.itemDesc.errors?.required"
                     class="text text-danger">
                  Item Description is required.
                </div>
                <div *ngIf="this.form.itemDesc.touched && this.form.itemDesc.errors?.maxlength"
                     class="text text-danger">
                  Item Description must be less than {{this.form.itemDesc.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="nOrder">N Order</label>
                <input type="number" class="form-control" id="nOrder" placeholder="N Order"
                       formControlName="nOrder" required>
                <div *ngIf="this.form.nOrder.touched && this.form.nOrder.errors?.required"
                     class="text text-danger">
                  N Order is required.
                </div>
                <div *ngIf="this.form.nOrder.touched && this.form.nOrder.errors?.maxlength"
                     class="text text-danger">
                  N Order must be less than {{this.form.nOrder.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="itemCode">Item Code</label>
                <input type="text" class="form-control" id="itemCode" placeholder="Item Code"
                       formControlName="itemCode" required>
                <div *ngIf="this.form.itemCode.touched && this.form.itemCode.errors?.required"
                     class="text text-danger">
                  Item Code is required.
                </div>
                <div *ngIf="this.form.itemCode.touched && this.form.itemCode.errors?.maxlength"
                     class="text text-danger">
                  Item Code must be less than {{this.form.itemCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="gameCode">Game Code</label>
                <input type="text" class="form-control" id="gameCode" placeholder="Game Code"
                       formControlName="gameCode" required>
                <div *ngIf="this.form.gameCode.touched && this.form.gameCode.errors?.required"
                     class="text text-danger">
                  Game Code is required.
                </div>
                <div *ngIf="this.form.gameCode.touched && this.form.gameCode.errors?.maxlength"
                     class="text text-danger">
                  Game Code must be less than {{this.form.gameCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="units">Units</label>
                <input type="text" class="form-control" id="units" placeholder="Units"
                       formControlName="units" required>
                <div *ngIf="this.form.units.touched && this.form.units.errors?.required"
                     class="text text-danger">
                  Units is required.
                </div>
                <div *ngIf="this.form.units.touched && this.form.units.errors?.maxlength"
                     class="text text-danger">
                  Units must be less than {{this.form.units.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" placeholder="Category"
                       formControlName="category" required>
                <div *ngIf="this.form.category.touched && this.form.category.errors?.required"
                     class="text text-danger">
                  Category is required.
                </div>
                <div *ngIf="this.form.category.touched && this.form.category.errors?.maxlength"
                     class="text text-danger">
                  Category must be less than {{this.form.category.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="source">Source</label>
                <input type="text" class="form-control" id="source" placeholder="Source"
                       formControlName="source" required>
                <div *ngIf="this.form.source.touched && this.form.source.errors?.required"
                     class="text text-danger">
                  Source is required.
                </div>
                <div *ngIf="this.form.source.touched && this.form.source.errors?.maxlength"
                     class="text text-danger">
                  Source must be less than {{this.form.source.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="unitPrice">Unit Price</label>
                <input type="number" class="form-control" id="unitPrice" placeholder="Unit Price"
                       formControlName="unitPrice" required>
                <div *ngIf="this.form.unitPrice.touched && this.form.unitPrice.errors?.required"
                     class="text text-danger">
                  Unit Price is required.
                </div>
                <div *ngIf="this.form.unitPrice.touched && this.form.unitPrice.errors?.maxlength"
                     class="text text-danger">
                  Unit Price must be less than {{this.form.unitPrice.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="booksPerCarton">Books Per Carton</label>
                <input type="number" class="form-control" id="booksPerCarton" placeholder="Books Per Carton"
                       formControlName="booksPerCarton" required>
                <div *ngIf="this.form.booksPerCarton.touched && this.form.booksPerCarton.errors?.required"
                     class="text text-danger">
                  Books Per Carton is required.
                </div>
                <div *ngIf="this.form.booksPerCarton.touched && this.form.booksPerCarton.errors?.maxlength"
                     class="text text-danger">
                  Books Per Carton must be less than {{this.form.booksPerCarton.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="ticketsPerBook">Tickets Per Book</label>
                <input type="number" class="form-control" id="ticketsPerBook" placeholder="Tickets Per Book"
                       formControlName="ticketsPerBook" required>
                <div *ngIf="this.form.ticketsPerBook.touched && this.form.ticketsPerBook.errors?.required"
                     class="text text-danger">
                  Tickets Per Book is required.
                </div>
                <div *ngIf="this.form.ticketsPerBook.touched && this.form.ticketsPerBook.errors?.maxlength"
                     class="text text-danger">
                  Tickets Per Book must be less than {{this.form.ticketsPerBook.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="lowQuantity">Low Quantity</label>
                <input type="number" class="form-control" id="lowQuantity" placeholder="Low Quantity"
                       formControlName="lowQuantity" required>
                <div *ngIf="this.form.lowQuantity.touched && this.form.lowQuantity.errors?.required"
                     class="text text-danger">
                  Low Quantity is required.
                </div>
                <div *ngIf="this.form.lowQuantity.touched && this.form.lowQuantity.errors?.maxlength"
                     class="text text-danger">
                  Low Quantity must be less than {{this.form.lowQuantity.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="series">Series</label>
                <input type="text" class="form-control" id="series" placeholder="Series"
                       formControlName="series" required>
                <div *ngIf="this.form.series.touched && this.form.series.errors?.required"
                     class="text text-danger">
                  Series is required.
                </div>
                <div *ngIf="this.form.series.touched && this.form.series.errors?.maxlength"
                     class="text text-danger">
                  Series must be less than {{this.form.series.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="pridicts">Pridicts</label>
                <input type="number" class="form-control" id="pridicts" placeholder="Pridicts" formControlName="pridicts"
                       required>
                <div *ngIf="this.form.pridicts.touched && this.form.pridicts.errors?.required"
                     class="text text-danger">
                  Pridicts is required.
                </div>
                <div *ngIf="this.form.pridicts.touched && this.form.pridicts.errors?.maxlength"
                     class="text text-danger">
                  Pridicts must be less than {{this.form.pridicts.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="showInSearch">
                <input class="checkbox_animated" id="showInSearch"
                       type="checkbox" formControlName="showInSearch">
                Show In Search
              </label>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="showInReport">
                <input class="checkbox_animated" id="showInReport"
                       type="checkbox" formControlName="showInReport">
                Show In Report
              </label>
            </div>

            <button class="btn btn-primary mt-1" [disabled]="this.inventoryFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
