<div class="page-wrapper">
  <div class="auth-bg">
    <div class="authentication-box">
      <div class="text-center" style="color: white">
        ARCHANGEL Systems
        <img src="src/assets/images/endless-logo.png" alt="" *ngIf="false">
      </div>
      <div class="card mt-4">
        <div class="card-body" *ngIf="isBranchSelected">
          <div class="card-body">
            <div class="text-center">
              <h4>LOGIN</h4>
              <h6>Enter your Username and Password</h6>
            </div>
            <form class="theme-form" [formGroup]="loginForm">
              <div class="form-group">
                <label class="col-form-label pt-0">Email</label>
                <input class="form-control" formControlName="username" required="">
                <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required"
                     class="text text-danger mt-1">
                  Username is required
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <input class="form-control" type="password" formControlName="password" required="">
                <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
                     class="text text-danger mt-1">
                  Password is required
                </div>
              </div>
              <div class="form-group" *ngIf="false">
                <div class="row justify-content-around">
                  <select class="form-control custom-select col-md-11" id="branchSelect1"
                          formControlName="branch">
                    <option [ngValue]="null">Choose Branch</option>
                    <option *ngFor="let branch of branches" [ngValue]="branch">
                      {{branch.branchDesc}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="checkbox p-0">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Remember me</label>
              </div>
              <div class="form-group form-row mt-3 mb-0">
                <button class="btn btn-primary btn-block btn-lg"
                        [disabled]="!loginForm.valid" (click)="submitForm()"
                        type="submit"><span>Login</span>
                </button>
              </div>
              <div class="login-divider"></div>
              <!--            <div class="social mt-3">-->
              <!--              <div class="form-group btn-showcase d-flex">-->
              <!--                <button class="btn social-btn btn-fb d-inline-block" (click)="loginFacebook()">-->
              <!--                  <i class="fa fa-facebook"></i>-->
              <!--                </button>-->
              <!--                <button class="btn social-btn btn-twitter d-inline-block" (click)="loginTwitter()">-->
              <!--                  <i class="fa fa-twitter"></i>-->
              <!--                </button>-->
              <!--                <button class="btn social-btn btn-google d-inline-block" (click)="loginGoogle()">-->
              <!--                  <i class="fa fa-google"></i>-->
              <!--                </button>-->
              <!--              </div>-->
              <!--            </div>-->
            </form>
          </div>
        </div>

        <div class="card-body" *ngIf="!isBranchSelected">
          <div class="text-center">
            <h4>Branch</h4>
            <h6>Select your branch first!</h6>
          </div>
          <form class="theme-form">
            <div class="form-group">
              <div class="row justify-content-around">
                <select class="form-control custom-select col-md-9" id="branchSelect2" [(ngModel)]="this.selectedBranch"
                        [ngModelOptions]="{standalone: true}">
                  <option [ngValue]="null">Choose Branch</option>
                  <option *ngFor="let branch of branches" [ngValue]="branch">
                    {{branch.branchDesc}}
                  </option>
                </select>
              </div>
            </div>
            <!--            <div class="form-group">-->
            <!--              <label class="col-form-label pt-0">Email</label>-->
            <!--              <input class="form-control" formControlName="username" required="">-->
            <!--              <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required"-->
            <!--                   class="text text-danger mt-1">-->
            <!--                Username is required-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="form-group form-row mt-3 mb-0">
              <button class="btn btn-primary btn-block btn-lg"
                      [disabled]="!this.selectedBranch" (click)="saveSelectedBranch()"
                      type="button"><span>Next</span>
              </button>
            </div>
            <div class="login-divider"></div>
            <!--            <div class="social mt-3">-->
            <!--              <div class="form-group btn-showcase d-flex">-->
            <!--                <button class="btn social-btn btn-fb d-inline-block" (click)="loginFacebook()">-->
            <!--                  <i class="fa fa-facebook"></i>-->
            <!--                </button>-->
            <!--                <button class="btn social-btn btn-twitter d-inline-block" (click)="loginTwitter()">-->
            <!--                  <i class="fa fa-twitter"></i>-->
            <!--                </button>-->
            <!--                <button class="btn social-btn btn-google d-inline-block" (click)="loginGoogle()">-->
            <!--                  <i class="fa fa-google"></i>-->
            <!--                </button>-->
            <!--              </div>-->
            <!--            </div>-->
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
