<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add User</h5>
          <h5 *ngIf="isEditing">Edit User</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.userFormGroup" novalidate>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Full Name" formControlName="fullName"
                       required>
                <div *ngIf="this.form.fullName.touched && this.form.fullName.errors?.required"
                     class="text text-danger">
                  Full Name is required.
                </div>
                <div *ngIf="this.form.fullName.touched && this.form.fullName.errors?.maxlength"
                     class="text text-danger">
                  Full Name must be less than {{this.form.fullName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                       formControlName="firstName" required>
                <div *ngIf="this.form.firstName.touched && this.form.firstName.errors?.required"
                     class="text text-danger">
                  First Name is required.
                </div>
                <div *ngIf="this.form.firstName.touched && this.form.firstName.errors?.maxlength"
                     class="text text-danger">
                  First Name must be less than {{this.form.firstName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                       formControlName="lastName" required>
                <div *ngIf="this.form.lastName.touched && this.form.lastName.errors?.required"
                     class="text text-danger">
                  Last Name is required.
                </div>
                <div *ngIf="this.form.lastName.touched && this.form.lastName.errors?.maxlength"
                     class="text text-danger">
                  Last Name must be less than {{this.form.lastName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username"
                       formControlName="username" required>
                <div *ngIf="this.form.username.touched && this.form.username.errors?.required"
                     class="text text-danger">
                  Username is required.
                </div>
                <div *ngIf="this.form.username.touched && this.form.username.errors?.maxlength"
                     class="text text-danger">
                  Username must be less than {{this.form.username.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password"
                       formControlName="password" required>
                <div *ngIf="this.form.password.touched && this.form.password.errors?.required"
                     class="text text-danger">
                  Password is required.
                </div>
                <div *ngIf="this.form.password.touched && this.form.password.errors?.maxlength"
                     class="text text-danger">
                  Password must be less than {{this.form.password.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="group">Group</label>
                <input type="text" class="form-control" id="group" placeholder="Group"
                       formControlName="group" required>
                <div *ngIf="this.form.group.touched && this.form.group.errors?.required"
                     class="text text-danger">
                  Group is required.
                </div>
                <div *ngIf="this.form.group.touched && this.form.group.errors?.maxlength"
                     class="text text-danger">
                  Group must be less than {{this.form.group.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="secLevel">Sec Level</label>
                <input type="text" class="form-control" id="secLevel" placeholder="Sec Level"
                       formControlName="secLevel" required>
                <div *ngIf="this.form.secLevel.touched && this.form.secLevel.errors?.required"
                     class="text text-danger">
                  Sec Level is required.
                </div>
                <div *ngIf="this.form.secLevel.touched && this.form.secLevel.errors?.maxlength"
                     class="text text-danger">
                  Sec Level must be less than {{this.form.secLevel.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="stationCode">Station Code</label>
                <input type="text" class="form-control" id="stationCode" placeholder="Station Code"
                       formControlName="stationCode" required>
                <div *ngIf="this.form.stationCode.touched && this.form.stationCode.errors?.required"
                     class="text text-danger">
                  Station Code is required.
                </div>
                <div *ngIf="this.form.stationCode.touched && this.form.stationCode.errors?.maxlength"
                     class="text text-danger">
                  Station Code must be less than {{this.form.stationCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="bYear">Birth Year</label>
                <input type="text" class="form-control" id="bYear" placeholder="Birth Year"
                       formControlName="bYear" required>
                <div *ngIf="this.form.bYear.touched && this.form.bYear.errors?.required"
                     class="text text-danger">
                  Birth Year is required.
                </div>
                <div *ngIf="this.form.bYear.touched && this.form.bYear.errors?.maxlength"
                     class="text text-danger">
                  Birth Year must be less than {{this.form.bYear.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="mName">M Name</label>
                <input type="text" class="form-control" id="mName" placeholder="M Name"
                       formControlName="mName" required>
                <div *ngIf="this.form.mName.touched && this.form.mName.errors?.required"
                     class="text text-danger">
                  M Name is required.
                </div>
                <div *ngIf="this.form.mName.touched && this.form.mName.errors?.maxlength"
                     class="text text-danger">
                  M Name must be less than {{this.form.mName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="favFood">Fav Food</label>
                <input type="text" class="form-control" id="favFood" placeholder="Fav Food"
                       formControlName="favFood" required>
                <div *ngIf="this.form.favFood.touched && this.form.favFood.errors?.required"
                     class="text text-danger">
                  Fav Food is required.
                </div>
                <div *ngIf="this.form.favFood.touched && this.form.favFood.errors?.maxlength"
                     class="text text-danger">
                  Fav Food must be less than {{this.form.favFood.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="inActive">In Active</label>
                <input type="text" class="form-control" id="inActive" placeholder="In Active"
                       formControlName="inActive" required>
                <div *ngIf="this.form.inActive.touched && this.form.inActive.errors?.required"
                     class="text text-danger">
                  In Active is required.
                </div>
                <div *ngIf="this.form.inActive.touched && this.form.inActive.errors?.maxlength"
                     class="text text-danger">
                  In Active must be less than {{this.form.inActive.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="transferred">Transferred</label>
                <input type="text" class="form-control" id="transferred" placeholder="Transferred"
                       formControlName="transferred" required>
                <div *ngIf="this.form.transferred.touched && this.form.transferred.errors?.required"
                     class="text text-danger">
                  Transferred is required.
                </div>
                <div *ngIf="this.form.transferred.touched && this.form.transferred.errors?.maxlength"
                     class="text text-danger">
                  Transferred must be less than {{this.form.transferred.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="mInitial">M Initial</label>
                <input type="text" class="form-control" id="mInitial" placeholder="M Initial" formControlName="mInitial"
                       required>
                <div *ngIf="this.form.mInitial.touched && this.form.mInitial.errors?.required"
                     class="text text-danger">
                  M Initial is required.
                </div>
                <div *ngIf="this.form.mInitial.touched && this.form.mInitial.errors?.maxlength"
                     class="text text-danger">
                  M Initial must be less than {{this.form.mInitial.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="row justify-content-around">
                  <select class="form-control custom-select col-md-11" id="userGroupSelect"
                          formControlName="userGroup" (ngModelChange)="onUserGroupChange($event)">
                    <option [ngValue]="null">Choose User Group</option>
                    <option *ngFor="let userGroup of userGroups" [ngValue]="userGroup">
                      {{userGroup.groupName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="row justify-content-around">
                  <select class="form-control custom-select col-md-11" id="branchSelect"
                          formControlName="branch">
                    <option [ngValue]="null">Choose Branch</option>
                    <option *ngFor="let branch of branches" [ngValue]="branch">
                      {{branch.branchDesc}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="chk-ani">
                <input class="checkbox_animated" id="chk-ani"
                       type="checkbox" formControlName="temp0">
                Temp0
              </label>
            </div>

            <button class="btn btn-primary mt-1" [disabled]="this.userFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
