<div class="">
  <div class="row">
    <div class="col-md-3">

      <i class="fa fa-home" style="font-size:36px" *ngIf="false">

      </i>

    </div>
    <div class="col-md-6">
      <p class="text-center fw600 textblack" style="font-size:26px">
        Lucky Circle Corporation <br/>
        Keno Transactions
      </p>

    </div>
    <div class="col-md-3">

      <form class="example" action="#" style="margin:auto;max-width:300px">

        <button type="submit">
          <i class="fa fa-search">

          </i>
        </button>
        <input type="text" placeholder="Search.." name="search2">
      </form>

    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div style="margin-left:5px;">
          <p style="font-size: 16px;">Branch:<b>&nbsp;&nbsp;{{this.branchName}}</b></p>
          <p style="font-size: 16px;">Branch Id:<b>&nbsp;&nbsp;{{this.branchId}}</b></p>
          <p style="font-size: 16px;">Date:&nbsp;&nbsp;<input type="date" placeholder="Values...." [(ngModel)]="this.selectedDate" (ngModelChange)="onTransactionDateChange($event)"/>&nbsp;</p>
          <br/>
          <p style="font-size:16px;" class="textblack">
            <b>Transactions Details:</b>&nbsp;
            <a (click)="onAdd()">
              <app-feather-icons [icon]="'plus-circle'"></app-feather-icons>
            </a>&nbsp;

            <!--            <input type="button" class="btn1" value="Compute tax"/>-->
            <button type="button" class="btn3" (click)="onMainComputeTax()">Compute Tax</button>
          </p>
        </div>
      </div>
      <div class="col-md-auto"></div>
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-8">
            <p style="font-size: 14px;">Beginning Cash: <strong>{{this.beginningCash}}</strong></p>
          </div>
          <div class="col-md-8">
            <p style="font-size: 14px;">Cash Sales: <strong style="padding-left: 1.8rem">{{this.cashSales}}</strong></p>
          </div>
          <div class="col-md-8">
            <p style="font-size: 14px;">DST: <strong style="padding-left: 4.85rem">{{this.stampTax}}</strong></p>
          </div>
          <div class="col-md-8">
            <p style="font-size: 14px;">Remaining: <strong style="padding-left: 2.1rem">{{this.remaining}}</strong></p>
          </div>
          <div class="col-md-8">
            <p style="font-size: 14px;">Ending Cash: <strong style="padding-left: 1.1rem">{{this.endingCash}}</strong></p>
          </div>
        </div>
        <!--        <p style="font-size: 14px;">Beginning Cash:<b> &nbsp;&nbsp;&nbsp;&nbsp;0.00</b></p>-->
        <!--        <p style="font-size: 14px;">Cash Sales:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b>-->
        <!--        <p style="font-size: 14px;">DST:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b>-->
        <!--        </p>-->
        <!--        <p *ngIf="false" style="font-size: 14px;">Cash Deposit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--          <input type="text" placeholder="0.00"/>-->
        <!--          &nbsp;-->
        <!--          &lt;!&ndash;          <input type="button" value="Save"/>&ndash;&gt;-->
        <!--        </p>-->
        <!--        <p style="font-size: 14px;">Remaining:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b></p>-->
        <!--        <p style="font-size: 14px;">Ending Cash:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b></p>-->
      </div>
      <div class="col-md-auto"></div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-10">
            <label>
              Cash Deposit:
              <input id="cashDeposit" name="cashDeposit" [(ngModel)]="this.cashDeposit"/>
            </label>

          </div>

          <div class="col-md-10">
            <label>
              Overage:
              <input id="overage" name="overage" [(ngModel)]="this.overage" />
            </label>
          </div>

          <div class="col-md-10">
            <label>
              Partial:
              <input id="partial" name="partial" [(ngModel)]="this.partial"/>
            </label>
          </div>

        </div>
      </div>
    </div>
    <div class="table-responsive">
      <ngx-datatable
        class="bootstrap striped"
        id="mainTable"
        [loadingIndicator]="isLoading"
        [rows]="this.mainTableRows"
        columnMode="force"
        [columns]="this.mainColumn"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [reorderable]="true"
        [count]="this.mainTableRows.length"
        [limit]="10"
        [externalPaging]="false"
        #datatableComponentMain
      >
        <!--        <ngx-datatable-column name="Sales" prop="sales" [width]="70" [resizeable]="false">-->
        <!--          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
        <!--            {{row | json}}-->
        <!--            {{ row.sales }}-->
        <!--          </ng-template>-->
        <!--        </ngx-datatable-column>-->

      </ngx-datatable>
    </div>
    <!--    <div class="insideContent">-->
    <!--      <div style="overflow-x:auto;padding-bottom: 150px;">-->
    <!--        <table style="width: 100%;" class="table table-bordered" id="tableone">-->
    <!--          <tr>-->
    <!--            <th>Item ID</th>-->
    <!--            <th>BegQty</th>-->
    <!--            <th>XferIn</th>-->
    <!--            <th>XferOut</th>-->
    <!--            <th>DelivQty</th>-->
    <!--            <th>QtySold</th>-->
    <!--            <th>EndQty</th>-->
    <!--            <th>BegInv</th>-->
    <!--            <th>Cash Sales</th>-->
    <!--            <th>Ambos</th>-->
    <!--            <th>Total Sales</th>-->
    <!--            <th>EndInv</th>-->
    <!--            <th>Float</th>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--            <td><b>Total</b></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--          </tr>-->


    <!--        </table>-->

    <!--      </div>-->


    <!--    </div>-->

    <div class="bottomcontent">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <label>
              Posted By:
              <input class="col-md-6" />
            </label>

            <label>
              Posted On:
              <input class="col-md-6" />
            </label>
            <!--            <table>-->
            <!--              <tr>-->
            <!--                <td><p class="textblack f-14">Posted BY: &nbsp;&nbsp;</p></td>-->
            <!--                <td><p class="textblack f-14"><input type="text" placeholder="Enter Name"/></p></td>-->
            <!--              </tr>-->
            <!--              <tr>-->
            <!--                <td><p class="textblack f-14">Posted On: &nbsp;&nbsp;</p></td>-->
            <!--                <td><p class="textblack f-14"><input type="text" placeholder="Enter Date"/></p></td>-->
            <!--              </tr>-->
            <!--            </table>-->
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <label>
            Last Modified By:
            <input disabled type="text" class="col-md-6" [(ngModel)]="this.lastModifiedBy" />
          </label>

          <label>
            Date Last Modified:
            <input disabled type="text" class="col-md-6" [(ngModel)]="this.dateLastModified" />
          </label>
        </div>
        <div class="col-md-4">
          <p style="font-size:14px;"><i [attr.data-feather]="'printer'" aria-hidden="true"></i>&nbsp;<i
            [attr.data-feather]="'upload'" aria-hidden="true"></i>&nbsp;<button class="btn1" (click)="onMainSave()">
            Save
          </button>&nbsp;<button
            class="btn1">Back
          </button>
          </p>


        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="container" *ngIf="!isLoading" style="margin-top: 1rem; margin-bottom: 1rem">
    <div class="card bg-secondary text-white" style="margin-bottom: 5px !important;">
      <div class="card-body" style="color:white"> Non-FLX Keno Details Data Entry</div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="margin-bottom: 0">
            <div class="card-body">
              <form class="needs-validation container-fluid align-items-center" novalidate>
                <div class="row">
                  <div class="col-md-4">
                    <label for="sales">Sales</label>
                    <input type="number" class="form-control" name="sales" [(ngModel)]="detailModel.sales" id="sales"
                           placeholder="Sales" required>
                  </div>

                  <div class="col-md-4">
                    <label for="Payouts">Payouts</label>
                    <input type="number" class="form-control" name="Payouts" [(ngModel)]="detailModel.payouts"
                           id="Payouts" placeholder="Payouts"
                           required>
                  </div>

                  <div class="col-md-4">
                    <label for="cancels">Cancels</label>
                    <input type="number" name="cancels" [(ngModel)]="detailModel.cancels" class="form-control"
                           id="cancels" placeholder="Cancels" required>
                  </div>

                  <div class="row col-md-10" style="text-align-last: end">
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Net Sales: <span class="font-weight-bold">{{this.detailB.netSales}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Cash Sales: <span class="font-weight-bold">{{this.detailB.cashSales}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Commission: <span class="font-weight-bold">{{this.detailB.commission}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Witholding Tax: <span class="font-weight-bold">{{this.detailB.whTax}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Net Commission: <span class="font-weight-bold">{{this.detailB.netCommission}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Balance: <span class="font-weight-bold">{{this.detailB.balance}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Net due to PCSO: <span class="font-weight-bold">{{this.detailB.netDueToPCSO}}</span>
                    </div>
                    <div class="col-md-8" style="padding-top: 0.4rem; padding-bottom: 0.4rem">
                      Doc Stamp Tax: <span class="font-weight-bold">{{this.detailB.tax}}</span>
                    </div>
                  </div>

                  <div class="col-md-8" style="margin-top: 1rem">
                    <button class="btn btn-primary mr-4" (click)="onSaveModal()">
                      Save
                    </button>
                    <button class="btn btn-secondary" (click)="onBackModal()">
                      Back
                    </button>
                    <button class="btn btn-success ml-4" (click)="computeTax()">
                      Compute Tax
                    </button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content" *ngIf="false">
      <br/> <br/>
      <div class="row">
        <div class="col-md-6">
          <div style="margin-left:5px;">

            <p style="font-size:16px;" class="textblack"><b>Transactions ID:&nbsp; XXXXXXXXXX</b>
            </p>
          </div>
        </div>


        <div class="col-md-6">

          <p class="textblack" style="text-align: right;" id="ptag">

            <input type="button" class="btn2" value="Compute tax" (click)="sumCancelsSales()"
                   style="font-size:16px;background-color: #686868;color: white;"/>&nbsp;&nbsp;&nbsp;
            <a style="font-size: 23px;">
              <i class="fa fa-plus-square-o textblack" (click)="onDetailAdd()" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a style="font-size: 23px;"><i class="fa fa-pencil-square-o textblack" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a style="font-size: 23px;"><i class="fa fa-trash-o textblack" aria-hidden="true"></i></a>

          </p>

        </div>


      </div>

      <div class="row">
        <div class="col-md-4">
          <div style="margin-left: 20px;">
            <br/> <br/>
            <p style="font-size:16px;" class="textblack">
              Sales:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{this.sumCancelsSales()[0]}}</b></p>

            <p style="font-size:16px;" class="textblack">
              Cancels:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{this.sumCancelsSales()[1]}}</b></p>
            <br/>
            <p style="font-size:16px;margin:0;padding: 0;" class="textblack">Doc Stamp Tax: </p>
            <input type="number" placeholder="0.00" [(ngModel)]="this.stampTax"/>
            <p style="font-size:16px;margin:0;padding: 0;" class="textblack">Payouts: </p>
            <input type="number" placeholder="0.00" [(ngModel)]="this.payouts"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="table-responsive mt-2">
            <ngx-datatable
              class="bootstrap striped"
              [loadingIndicator]="isLoading"
              id="detailTable"
              [rows]="this.rows"
              columnMode="force"
              [columns]="this.columns"
              [selected]="this.selectedRows"
              [selectionType]="this.selectionType"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              (select)="onSelect($event)"
              rowHeight="auto"
              [reorderable]="true"
              [count]="this.details.length"
              [limit]="10"
              [externalPaging]="false"
              #datatableComponent
            >
              <!--              <ngx-datatable-column-->
              <!--                [width]="30"-->
              <!--                [sortable]="false"-->
              <!--                [canAutoResize]="false"-->
              <!--                [draggable]="false"-->
              <!--                [resizeable]="false"-->
              <!--                [headerCheckboxable]="true"-->
              <!--                [checkboxable]="true"-->
              <!--              >-->
              <!--              </ngx-datatable-column>-->
              <!--              <ngx-datatable-column name="Item Code" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.itemCode.itemCode }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Sales" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.sales }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Commission" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.commission }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Cancels" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.cancels }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

            </ngx-datatable>
          </div>

          <!--          <div class="insideContent">-->
          <!--            <table style="width: 100%;" class="table table-bordered">-->
          <!--              <tr>-->
          <!--                <th>Item Code</th>-->
          <!--                <th>Sales</th>-->
          <!--                <th>Commission</th>-->
          <!--                <th>Cancels</th>-->

          <!--              </tr>-->

          <!--            </table>-->
          <!--            <table style="width: 100%;">-->
          <!--              <tr *ngFor="let detail of details">-->
          <!--                <td><input type="checkbox" name="vehicle1" value="ex1"></td>-->
          <!--                <td><p class="f-14">{{detail.itemCode.itemCode}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.sales}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.commission}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.cancels}}</p></td>-->

          <!--              </tr>-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" id="vehicle1" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--            </table>-->


          <!--          </div>-->

        </div>

      </div>


      <div>
        <div class="row">


          <div class="col-md-12">
            <br/><br/>
            <p style="font-size:14px;text-align: right;">
              <button class="btn1 btn btn-success" (click)="onSaveModal()">Save</button>
              &nbsp;
              <button class="btn1" (click)="onBackModal()">Back</button>
            </p>


          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
