<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Branch</h5>
          <h5 *ngIf="isEditing">Edit Branch</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.branchFormGroup" novalidate>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="branchId">Branch Id</label>
                <input type="text" class="form-control" id="branchId" placeholder="Branch Id" formControlName="branchId"
                       required>
                <div *ngIf="this.form.branchId.touched && this.form.branchId.errors?.required"
                     class="text text-danger">
                  Branch Id is required.
                </div>
                <div *ngIf="this.form.branchId.touched && this.form.branchId.errors?.maxlength"
                     class="text text-danger">
                  Branch Id must be less than {{this.form.branchId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="sgBranch">SG Branch</label>
                <input type="text" class="form-control" id="sgBranch" placeholder="SG Branch"
                       formControlName="sgBranch" required>
                <div *ngIf="this.form.sgBranch.touched && this.form.sgBranch.errors?.required"
                     class="text text-danger">
                  SG Branch is required.
                </div>
                <div *ngIf="this.form.sgBranch.touched && this.form.sgBranch.errors?.maxlength"
                     class="text text-danger">
                  SG Branch must be less than {{this.form.sgBranch.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="inst_comp">Inst_Comp</label>
                <input type="text" class="form-control" id="inst_comp" placeholder="Inst_Comp"
                       formControlName="inst_comp" required>
                <div *ngIf="this.form.inst_comp.touched && this.form.inst_comp.errors?.required"
                     class="text text-danger">
                  Inst_Comp is required.
                </div>
                <div *ngIf="this.form.inst_comp.touched && this.form.inst_comp.errors?.maxlength"
                     class="text text-danger">
                  Inst_Comp must be less than {{this.form.inst_comp.errors?.maxlength?.requiredLength}}
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="keno_comp">Keno_Comp</label>
                <input type="text" class="form-control" id="keno_comp" placeholder="Keno_Comp"
                       formControlName="keno_comp" required>
                <div *ngIf="this.form.keno_comp.touched && this.form.keno_comp.errors?.required"
                     class="text text-danger">
                  Keno_Comp is required.
                </div>
                <div *ngIf="this.form.keno_comp.touched && this.form.keno_comp.errors?.maxlength"
                     class="text text-danger">
                  Keno_Comp must be less than {{this.form.keno_comp.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="branchDesc">Branch Description</label>
                <input type="text" class="form-control" id="branchDesc" placeholder="Branch Description"
                       formControlName="branchDesc" required>
                <div *ngIf="this.form.branchDesc.touched && this.form.branchDesc.errors?.required"
                     class="text text-danger">
                  Branch Description is required.
                </div>
                <div *ngIf="this.form.branchDesc.touched && this.form.branchDesc.errors?.maxlength"
                     class="text text-danger">
                  Branch Description must be less than {{this.form.branchDesc.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="areaId">Area Id</label>
                <input type="text" class="form-control" id="areaId" placeholder="Area Id"
                       formControlName="areaId" required>
                <div *ngIf="this.form.areaId.touched && this.form.areaId.errors?.required"
                     class="text text-danger">
                  Area Id is required.
                </div>
                <div *ngIf="this.form.areaId.touched && this.form.areaId.errors?.maxlength"
                     class="text text-danger">
                  Area Id must be less than {{this.form.areaId.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="regionId">Region Id</label>
                <input type="text" class="form-control" id="regionId" placeholder="Region Id"
                       formControlName="regionId" required>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.required"
                     class="text text-danger">
                  Region Id is required.
                </div>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.maxlength"
                     class="text text-danger">
                  Region Id must be less than {{this.form.regionId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="divisionId">Division Id</label>
                <input type="text" class="form-control" id="divisionId" placeholder="Division Id"
                       formControlName="divisionId" required>
                <div *ngIf="this.form.divisionId.touched && this.form.divisionId.errors?.required"
                     class="text text-danger">
                  Division Id is required.
                </div>
                <div *ngIf="this.form.divisionId.touched && this.form.divisionId.errors?.maxlength"
                     class="text text-danger">
                  Division Id must be less than {{this.form.divisionId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="cluster">Cluster</label>
                <input type="number" class="form-control" id="cluster" placeholder="Cluster"
                       formControlName="cluster" required>
                <div *ngIf="this.form.cluster.touched && this.form.cluster.errors?.required"
                     class="text text-danger">
                  Cluster is required.
                </div>
                <div *ngIf="this.form.cluster.touched && this.form.cluster.errors?.maxlength"
                     class="text text-danger">
                  Cluster must be less than {{this.form.cluster.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="nGroup">N Group</label>
                <input type="number" class="form-control" id="nGroup" placeholder="N Group"
                       formControlName="nGroup" required>
                <div *ngIf="this.form.nGroup.touched && this.form.nGroup.errors?.required"
                     class="text text-danger">
                  N Group is required.
                </div>
                <div *ngIf="this.form.nGroup.touched && this.form.nGroup.errors?.maxlength"
                     class="text text-danger">
                  N Group must be less than {{this.form.nGroup.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="nLotto">N Lotto</label>
                <input type="number" class="form-control" id="nLotto" placeholder="N Lotto"
                       formControlName="nLotto" required>
                <div *ngIf="this.form.nLotto.touched && this.form.nLotto.errors?.required"
                     class="text text-danger">
                  N Lotto is required.
                </div>
                <div *ngIf="this.form.nLotto.touched && this.form.nLotto.errors?.maxlength"
                     class="text text-danger">
                  N Lotto must be less than {{this.form.nLotto.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="mallGrouping">Mall Grouping</label>
                <input type="text" class="form-control" id="mallGrouping" placeholder="Mall Grouping"
                       formControlName="mallGrouping" required>
                <div *ngIf="this.form.mallGrouping.touched && this.form.mallGrouping.errors?.required"
                     class="text text-danger">
                  Mall Grouping is required.
                </div>
                <div *ngIf="this.form.mallGrouping.touched && this.form.mallGrouping.errors?.maxlength"
                     class="text text-danger">
                  Mall Grouping must be less than {{this.form.mallGrouping.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="agencyNo">Agency No</label>
                <input type="text" class="form-control" id="agencyNo" placeholder="Agency No"
                       formControlName="agencyNo" required>
                <div *ngIf="this.form.agencyNo.touched && this.form.agencyNo.errors?.required"
                     class="text text-danger">
                  Agency No is required.
                </div>
                <div *ngIf="this.form.agencyNo.touched && this.form.agencyNo.errors?.maxlength"
                     class="text text-danger">
                  Agency No must be less than {{this.form.agencyNo.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="agencynoKeno">Agency No Keno</label>
                <input type="text" class="form-control" id="agencynoKeno" placeholder="Agency No Keno"
                       formControlName="agencynoKeno" required>
                <div *ngIf="this.form.agencynoKeno.touched && this.form.agencynoKeno.errors?.required"
                     class="text text-danger">
                  Agency No Keno is required.
                </div>
                <div *ngIf="this.form.agencynoKeno.touched && this.form.agencynoKeno.errors?.maxlength"
                     class="text text-danger">
                  Agency No Keno must be less than {{this.form.agencynoKeno.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="agencynoCoronis">Agency No Coronis</label>
                <input type="text" class="form-control" id="agencynoCoronis" placeholder="Agency No Coronis"
                       formControlName="agencynoCoronis" required>
                <div *ngIf="this.form.agencynoCoronis.touched && this.form.agencynoCoronis.errors?.required"
                     class="text text-danger">
                  Agency No Coronis is required.
                </div>
                <div *ngIf="this.form.agencynoCoronis.touched && this.form.agencynoCoronis.errors?.maxlength"
                     class="text text-danger">
                  Agency No Coronis must be less than {{this.form.agencynoCoronis.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="agencynoExtrema">Agency No Extrema</label>
                <input type="text" class="form-control" id="agencynoExtrema" placeholder="Agency No Extrema"
                       formControlName="agencynoExtrema" required>
                <div *ngIf="this.form.agencynoExtrema.touched && this.form.agencynoExtrema.errors?.required"
                     class="text text-danger">
                  Agency No Extrema is required.
                </div>
                <div *ngIf="this.form.agencynoExtrema.touched && this.form.agencynoExtrema.errors?.maxlength"
                     class="text text-danger">
                  Agency No Extrema must be less than {{this.form.agencynoExtrema.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="agencyMicrolot">Agency Microlot</label>
                <input type="text" class="form-control" id="agencyMicrolot" placeholder="Agency Microlot"
                       formControlName="agencyMicrolot" required>
                <div *ngIf="this.form.agencyMicrolot.touched && this.form.agencyMicrolot.errors?.required"
                     class="text text-danger">
                  Agency Microlot is required.
                </div>
                <div *ngIf="this.form.agencyMicrolot.touched && this.form.agencyMicrolot.errors?.maxlength"
                     class="text text-danger">
                  Agency Microlot must be less than {{this.form.agencyMicrolot.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="isasSortOrder">Is As Sort Order</label>
                <input type="number" class="form-control" id="isasSortOrder" placeholder="Is As Sort Order"
                       formControlName="isasSortOrder" required>
                <div *ngIf="this.form.isasSortOrder.touched && this.form.isasSortOrder.errors?.required"
                     class="text text-danger">
                  Is As Sort Order is required.
                </div>
                <div *ngIf="this.form.isasSortOrder.touched && this.form.isasSortOrder.errors?.maxlength"
                     class="text text-danger">
                  Is As Sort Order must be less than {{this.form.isasSortOrder.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="isasSortOrder2">Is As Sort Order 2</label>
                <input type="number" class="form-control" id="isasSortOrder2" placeholder="Is As Sort Order 2"
                       formControlName="isasSortOrder2" required>
                <div *ngIf="this.form.isasSortOrder2.touched && this.form.isasSortOrder2.errors?.required"
                     class="text text-danger">
                  Is As Sort Order 2 is required.
                </div>
                <div *ngIf="this.form.isasSortOrder2.touched && this.form.isasSortOrder2.errors?.maxlength"
                     class="text text-danger">
                  Is As Sort Order 2 must be less than {{this.form.isasSortOrder2.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="classification">Classification</label>
                <input type="text" class="form-control" id="classification" placeholder="Classification"
                       formControlName="classification" required>
                <div *ngIf="this.form.classification.touched && this.form.classification.errors?.required"
                     class="text text-danger">
                  Classification is required.
                </div>
                <div *ngIf="this.form.classification.touched && this.form.classification.errors?.maxlength"
                     class="text text-danger">
                  Classification must be less than {{this.form.classification.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="shortname">Shortname</label>
                <input type="text" class="form-control" id="shortname" placeholder="Shortname"
                       formControlName="shortname" required>
                <div *ngIf="this.form.shortname.touched && this.form.shortname.errors?.required"
                     class="text text-danger">
                  Shortname is required.
                </div>
                <div *ngIf="this.form.shortname.touched && this.form.shortname.errors?.maxlength"
                     class="text text-danger">
                  Shortname must be less than {{this.form.shortname.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="lot_comp">Lot_Comp</label>
                <input type="text" class="form-control" id="lot_comp" placeholder="Lot_Comp"
                       formControlName="lot_comp" required>
                <div *ngIf="this.form.lot_comp.touched && this.form.lot_comp.errors?.required"
                     class="text text-danger">
                  Lot_Comp is required.
                </div>
                <div *ngIf="this.form.lot_comp.touched && this.form.lot_comp.errors?.maxlength"
                     class="text text-danger">
                  Lot_Comp must be less than {{this.form.lot_comp.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="d-block" for="showInSearch">
                  <input class="checkbox_animated" style="margin-top: 2rem" id="showInSearch"
                         type="checkbox" formControlName="showInSearch">
                  Show In Search
                </label>
              </div>

              <div class="col-md-4 mb-3">
                <label class="d-block" for="malls">
                  <input class="checkbox_animated" style="margin-top: 2rem" id="malls"
                         type="checkbox" formControlName="malls">
                  Malls
                </label>
              </div>
            </div>

            <button class="btn btn-primary mt-1" [disabled]="this.branchFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
