<div class="row">
  <div class="col-3">
    <form class="form-inline" [formGroup]="drForm">
      <div class="input-group mb-5">
        <label for="" class="mr-2">DR Date:</label>
        <input type="date" class="form-control" placeholder="Select date" formControlName="date" [max]="drForm.get('date').value">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'scan-ticket-inventory', 'receive-tickets']" routerLinkActive="active">Receive
          Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'scan-ticket-inventory', 'transfer-tickets']" routerLinkActive="active">Transfer
          Tickets</a>
      </li>
    </ul>

    <div class="mt-2">
      <div class="row">
        <div class="col-3">
          <form class="form-inline mb-3" [formGroup]="scanOptionForm">
            <div class="form-group">
              <label for="" class="mr-2">Scan Inventory Options:</label>
              <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="type" id="upload-csv" formControlName="type"
                  value="upload-csv">
                <label class="form-check-label" for="upload-csv">
                  Upload CSV File
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="scan-code" formControlName="type"
                  value="scan-code">
                <label class="form-check-label" for="scan-code">
                  Scan Code
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3" *ngIf="scanOptionForm.value.type != 'scan-code'">
          <div class="form-group">
            <label for="">Choose file</label>
            <input type="file" class="form-control" (change)="onUploadReceiveTickets($event.target.files)" accept=".csv" #file_upload>
          </div>
        </div>

        <div class="col-3" *ngIf="scanOptionForm.value.type === 'scan-code'">
          <form class="mb-3" [formGroup]="scanTypeForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="" class="mr-2">Scan Type:</label>
                  <div class="form-check mr-2">
                    <input class="form-check-input" type="radio" name="scan_type" id="book" formControlName="scan_type"
                      value="book">
                    <label class="form-check-label" for="book">
                      Book
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="scan_type" id="ticket-range"
                      formControlName="scan_type" value="ticket-range">
                    <label class="form-check-label" for="ticket-range">
                      Ticket Range
                    </label>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="scanTypeForm.value.scan_type == 'book'">
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="" class="mr-2">Book:</label>
                    <input type="text" class="form-control" formControlName="book">
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="scanTypeForm.value.scan_type == 'ticket-range'">
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="" class="mr-2">Range From:</label>
                    <input type="text" class="form-control" formControlName="range_from">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="" class="mr-2">Range To:</label>
                    <input type="text" class="form-control" formControlName="range_to">
                  </div>
                </div>
              </ng-container>

              <div class="col-12">
                <button class="btn btn-primary">Enter</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <ngx-datatable class="bootstrap striped" columnMode="flex" [headerHeight]="50" [footerHeight]="50"
            rowHeight="auto" [rows]="loadedTickets">
            <ngx-datatable-column name="Variant" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["variant"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Scan Type" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["type"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Tickets" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["tickets"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Receive Type" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["scanTYPE"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Book ID" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["bookId"] }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Date Received" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row["scanTYPE"] }}
              </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
