<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Ticket</h5>
          <h5 *ngIf="isEditing">Edit Ticket</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.rateFormGroup" novalidate>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="rateName">Rate Name</label>
                <input type="text" class="form-control" id="rateName" placeholder="Rate Name" formControlName="rateName"
                       required>
                <div *ngIf="this.form.rateName.touched && this.form.rateName.errors?.required"
                     class="text text-danger">
                  Rate Name is required.
                </div>
                <div *ngIf="this.form.rateName.touched && this.form.rateName.errors?.maxlength"
                     class="text text-danger">
                  Rate Name must be less than {{this.form.rateName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="rateCode">Rate Code</label>
                <input type="text" class="form-control" id="rateCode" placeholder="Rate Code"
                       formControlName="rateCode" required>
                <div *ngIf="this.form.rateCode.touched && this.form.rateCode.errors?.required"
                     class="text text-danger">
                  Rate Code is required.
                </div>
                <div *ngIf="this.form.rateCode.touched && this.form.rateCode.errors?.maxlength"
                     class="text text-danger">
                  Rate Code must be less than {{this.form.rateCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="rateValue">User Rate Value</label>
                <input type="number" class="form-control" id="rateValue" placeholder="Rate Value"
                       formControlName="rateValue"
                       required>
                <div *ngIf="this.form.rateValue.touched && this.form.rateValue.errors?.required"
                     class="text text-danger">
                  Rate Value is required.
                </div>
                <div *ngIf="this.form.rateValue.touched && this.form.rateValue.errors?.maxlength"
                     class="text text-danger">
                  Rate Value must be less than {{this.form.rateValue.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>
            <button class="btn btn-primary mt-1" [disabled]="this.rateFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
