<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Area</h5>
          <h5 *ngIf="isEditing">Edit Area</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.areaFormGroup" novalidate>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="areaId">Area Id</label>
                <input type="text" class="form-control" id="areaId" placeholder="Area Id"
                       formControlName="areaId"
                       required>
                <div *ngIf="this.form.areaId.touched && this.form.areaId.errors?.required"
                     class="text text-danger">
                  Area Id is required.
                </div>
                <div *ngIf="this.form.areaId.touched && this.form.areaId.errors?.maxlength"
                     class="text text-danger">
                  Area Id must be less than {{this.form.areaId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="areaName">Area Name</label>
                <input type="text" class="form-control" id="areaName" placeholder="Area Name"
                       formControlName="areaName" required>
                <div *ngIf="this.form.areaName.touched && this.form.areaName.errors?.required"
                     class="text text-danger">
                  Area Name is required.
                </div>
                <div *ngIf="this.form.areaName.touched && this.form.areaName.errors?.maxlength"
                     class="text text-danger">
                  Area Name must be less than {{this.form.areaName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="regionId">Region Id</label>
                <input type="text" class="form-control" id="regionId" placeholder="Region Id"
                       formControlName="regionId" required>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.required"
                     class="text text-danger">
                  Region Id is required.
                </div>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.maxlength"
                     class="text text-danger">
                  Region Id must be less than {{this.form.regionId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code"
                       formControlName="userCode" required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="d-block" for="showInSearch">
                <input class="checkbox_animated" id="showInSearch"
                       type="checkbox" formControlName="showInSearch">
                Show In Search
              </label>
            </div>

            <button class="btn btn-primary mt-1" [disabled]="this.areaFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
