<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Ticket</h5>
          <h5 *ngIf="isEditing">Edit Ticket</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.ticketFormGroup" novalidate>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="detailId">Detail Id</label>
                <input type="number" class="form-control" id="detailId" placeholder="Detail Id" formControlName="detailId"
                       required>
                <div *ngIf="this.form.detailId.touched && this.form.detailId.errors?.required"
                     class="text text-danger">
                  Detail Id is required.
                </div>
                <div *ngIf="this.form.detailId.touched && this.form.detailId.errors?.maxlength"
                     class="text text-danger">
                  Detail Id must be less than {{this.form.detailId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="denomination">Region Name</label>
                <input type="number" class="form-control" id="denomination" placeholder="Denomination"
                       formControlName="denomination" required>
                <div *ngIf="this.form.denomination.touched && this.form.denomination.errors?.required"
                     class="text text-danger">
                  Denomination is required.
                </div>
                <div *ngIf="this.form.denomination.touched && this.form.denomination.errors?.maxlength"
                     class="text text-danger">
                  Denomination must be less than {{this.form.denomination.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="quantity">User Code</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity" formControlName="quantity"
                       required>
                <div *ngIf="this.form.quantity.touched && this.form.quantity.errors?.required"
                     class="text text-danger">
                  Quantity is required.
                </div>
                <div *ngIf="this.form.quantity.touched && this.form.quantity.errors?.maxlength"
                     class="text text-danger">
                  Quantity must be less than {{this.form.quantity.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>
            <button class="btn btn-primary mt-1" [disabled]="this.ticketFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
