<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Category</h5>
          <h5 *ngIf="isEditing">Edit Category</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.categoryFormGroup" novalidate>
            <div>
              <div class="col-md-4 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" required>
                <div *ngIf="this.form.name.touched && this.form.name.errors?.required"
                     class="text text-danger">
                  Name is required.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label class="d-block" for="chk-ani">
                  <input class="checkbox_animated" id="chk-ani"
                         type="checkbox" formControlName="newComputation">
                  Is New Computation
                </label>
              </div>
            </div>
            <button class="btn btn-primary mt-1" [disabled]="this.categoryFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
