<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid mt-3">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="header-title mt-0 mb-1">Companies List</div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-4">-->
        <!--            <label for="searchString" class="form-group">Search Patient</label>-->
        <!--            <input type="text" id="searchString" class="form-control" (keyup)="search($event)"-->
        <!--                   [(ngModel)]="this.dataGridService.filterObject.queryString" placeholder="Search here...">-->
        <!--          </div>-->
        <!--          <div class="col-md-3 ml-2">-->
        <!--            <label class="form-group">From Date</label>-->
        <!--            <input mwlFlatpickr type="text" id="fromDate" class="form-control"-->
        <!--                   [(ngModel)]="this.dataGridService.filterObject.fromDate"-->
        <!--                   [altInput]="true" altInputClass="form-control" altFormat="F j, Y"-->
        <!--                   placeholder="From Date..."-->
        <!--                   (change)="searchByDate($event)">-->
        <!--          </div>-->
        <!--          <div class="col-md-3 ml-2">-->
        <!--            <label class="form-group">To Date</label>-->
        <!--            <input type="text" id="toDate" class="form-control"-->
        <!--                   placeholder="To Date..."-->
        <!--                   [(ngModel)]="this.dataGridService.filterObject.toDate"-->
        <!--                   mwlFlatpickr [altInput]="true" altInputClass="form-control" altFormat="F j, Y"-->
        <!--                   (change)='searchByDate($event)'>-->
        <!--          </div>-->
        <!--          <div class="col-md-1">-->
        <!--            <label class="form-group" style="visibility: hidden">Label</label>-->
        <!--            <button type="button" class="btn btn-secondary" (click)="resetFilters()">Reset</button>-->
        <!--          </div>-->
        <!--        </div>-->
        <div id="datatable" class="custom-datatable table-responsive mt-2">
          <input type='text' class="filter-ngx form-control" placeholder='Type to filter the name column...'
                 (keyup)='updateFilter($event)'/>
          <ngx-datatable
            class="bootstrap"
            [rows]="this.companiesDTO"
            [loadingIndicator]="isLoading"
            columnMode="force"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="10"
            [scrollbarH]="true"
            rowHeight="auto"
            [reorderable]="true"
            #datatableComponent
          >
            <ngx-datatable-column name="Sr#" [width]="10" [resizeable]="false">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ (rowIndex + 1) }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Company Name" [width]="70" [resizeable]="false">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.companyName }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Company Logo" [width]="70" [resizeable]="false">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.logo }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [width]="100" [resizeable]="false">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div style="display: flex">
                  <button class="btn btn-sm btn-success" (click)="onEdit(row)">
                    <i class="fa fa-edit"></i>Edit
                  </button>
                  <button class="btn btn-sm btn-danger ml-3" (click)="onDelete(row)">
                    <i class="fa fa-trash-o"></i>Delete
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
