<div class="">
  <div class="row">
    <div class="col-md-3">

      <i class="fa fa-home" style="font-size:36px" *ngIf="false">

      </i>

    </div>
    <div class="col-md-6">
      <p class="text-center fw600 textblack" style="font-size:26px">
        Lucky Circle Corporation <br/>
        Instant Transactions
      </p>

    </div>
    <div class="col-md-3">

      <form class="example" action="#" style="margin:auto;max-width:300px">

        <button type="submit">
          <i class="fa fa-search">

          </i>
        </button>
        <input type="text" placeholder="Search.." name="search2">
      </form>

    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div style="margin-left:5px;">
          <p style="font-size: 16px;">Branch:<b>&nbsp;&nbsp;{{this.branchName}}</b></p>
          <p style="font-size: 16px;">Date:&nbsp;&nbsp;<input type="text" placeholder="Values...."/>&nbsp;<i
            class="fa fa-calendar" aria-hidden="true" style="font-size:20px"></i></p>
          <br/>
          <p style="font-size:16px;" class="textblack">
            <b>Transactions Details:</b>&nbsp;
            <a (click)="onAdd()">
              <i [attr.data-feather]="'plus-circle'" aria-hidden="true">
              </i>
            </a>&nbsp;
            <a href="#"><i
              [attr.data-feather]="'edit'" aria-hidden="true"></i></a>&nbsp;<a href="#"><i
            [attr.data-feather]="'trash-2'" aria-hidden="true"></i></a>&nbsp;

            <!--            <input type="button" class="btn1" value="Compute tax"/>-->
            <button type="button" class="btn3">Compute Tax</button>

          </p>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p style="font-size: 14px;">Beginning Cash:<b> &nbsp;&nbsp;&nbsp;&nbsp;0.00</b></p>
        <p style="font-size: 14px;">Cash Sales:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b>
        </p>
        <p style="font-size: 14px;">Cash Deposit:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" placeholder="0.00"/>
        </b>
          &nbsp;
          <!--          <input type="button" value="Save"/>-->
          <button type="button" class="btn3">Save</button>
        </p>
        <p style="font-size: 14px;">Ending Cash:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.00</b></p>
      </div>
    </div>
    <div class="table-responsive">
      <ngx-datatable
        class="bootstrap striped"
        id="mainTable"
        [loadingIndicator]="isLoading"
        [rows]="this.mainTableRows"
        columnMode="force"
        [columns]="this.mainColumn"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [reorderable]="true"
        [count]="this.mainTableRows.length"
        [limit]="10"
        [externalPaging]="false"
        #datatableComponentMain
      >
        <!--        <ngx-datatable-column name="Sales" prop="sales" [width]="70" [resizeable]="false">-->
        <!--          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
        <!--            {{row | json}}-->
        <!--            {{ row.sales }}-->
        <!--          </ng-template>-->
        <!--        </ngx-datatable-column>-->

      </ngx-datatable>
    </div>
    <!--    <div class="insideContent">-->
    <!--      <div style="overflow-x:auto;padding-bottom: 150px;">-->
    <!--        <table style="width: 100%;" class="table table-bordered" id="tableone">-->
    <!--          <tr>-->
    <!--            <th>Item ID</th>-->
    <!--            <th>BegQty</th>-->
    <!--            <th>XferIn</th>-->
    <!--            <th>XferOut</th>-->
    <!--            <th>DelivQty</th>-->
    <!--            <th>QtySold</th>-->
    <!--            <th>EndQty</th>-->
    <!--            <th>BegInv</th>-->
    <!--            <th>Cash Sales</th>-->
    <!--            <th>Ambos</th>-->
    <!--            <th>Total Sales</th>-->
    <!--            <th>EndInv</th>-->
    <!--            <th>Float</th>-->

    <!--          </tr>-->
    <!--          <tr>-->
    <!--            <td><b>Total</b></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--          </tr>-->


    <!--        </table>-->

    <!--      </div>-->


    <!--    </div>-->

    <div class="bottomcontent">
      <div class="row">
        <div class="col-md-3">
          <table style="width:100%;" id="tablebottom">
            <tr class="f-14">
              <td>VAT Exempt:</td>
              <td><b>P 0.00</b></td>
            </tr>
            <tr class="f-14">
              <td>VATable:</td>
              <td><b>P 0.00</b></td>
            </tr>
            <tr class="f-14">
              <td>12% VAT:</td>
              <td><b>P 0.00</b></td>
            </tr>
            <tr class="f-14">
              <td>Total Payment: &nbsp;&nbsp;</td>
              <td><b>P 0.00</b></td>
            </tr>

          </table>


        </div>
        <div class="col-md-3">
          <br/>
          <div class="row">
            <table>
              <tr>
                <td><p class="textblack f-14">Posted BY: &nbsp;&nbsp;</p></td>
                <td><p class="textblack f-14"><input type="text" placeholder="Enter Name"/></p></td>
              </tr>
              <tr>
                <td><p class="textblack f-14">Posted On: &nbsp;&nbsp;</p></td>
                <td><p class="textblack f-14"><input type="text" placeholder="Enter Date"/></p></td>
              </tr>
            </table>


          </div>

        </div>
        <div class="col-md-2">
          <br/>
          <table>
            <tr>
              <td><p class="textblack f-14">Last Modified BY: &nbsp;&nbsp;</p></td>
              <td><p class="textblack f-14">-</p></td>
            </tr>
            <tr>
              <td><p class="textblack f-14">Date Last Modified: &nbsp;&nbsp;</p></td>
              <td><p class="textblack f-14">-</p></td>
            </tr>
          </table>

        </div>
        <div class="col-md-4">
          <br/><br/>
          <p style="font-size:14px;"><i [attr.data-feather]="'printer'" aria-hidden="true"></i>&nbsp;<i
            [attr.data-feather]="'upload'" aria-hidden="true"></i>&nbsp;<button class="btn1" (click)="onMainSave()">Save</button>&nbsp;<button
            class="btn1">Back
          </button>
          </p>


        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="container" *ngIf="!isLoading" style="margin-top: 1rem; margin-bottom: 1rem">
    <div class="card bg-secondary text-white">
      <div class="card-body" style="color:white"> Non-FLX Lotto Details Data Entry</div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="margin-bottom: 0">
            <div class="card-body">
              <form class="needs-validation container-fluid" novalidate>
                <div class="row">
                  <div class="col-md-4">
                    <label for="itemCode">Select Item</label>
                    <select class="form-control custom-select" id="itemCode" [(ngModel)]="this.detailModel.itemCode"
                            [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="null">Choose Item</option>
                      <option *ngFor="let item of this.inventoryItems" [ngValue]="item">
                        {{item.itemCode}}
                      </option>
                    </select>
                    <!--                    <input type="text" class="form-control" id="itemCode" name="itemCode"-->
                    <!--                           [(ngModel)]="detailModel.itemCode" placeholder="Item Code"-->
                    <!--                           required>-->
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="sales">Sales</label>
                    <input type="number" class="form-control" name="sales" [(ngModel)]="detailModel.sales" id="sales"
                           placeholder="Sales" required>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="commission">Commission</label>
                    <input type="number" class="form-control" name="commission" [(ngModel)]="detailModel.commission"
                           id="commission" placeholder="Commission"
                           required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="cancels">Cancels</label>
                    <input type="number" name="cancels" [(ngModel)]="detailModel.cancels" class="form-control"
                           id="cancels" placeholder="Cancels" required>
                  </div>
                </div>
                <!--                <button class="btn btn-primary mt-1">-->
                <!--                  Submit-->
                <!--                </button>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <br/> <br/>
      <div class="row">
        <div class="col-md-6">
          <div style="margin-left:5px;">

            <p style="font-size:16px;" class="textblack"><b>Transactions ID:&nbsp; XXXXXXXXXX</b>
            </p>
          </div>
        </div>


        <div class="col-md-6">

          <p class="textblack" style="text-align: right;" id="ptag">

            <input type="button" class="btn2" value="Compute tax" (click)="sumCancelsSales()"
                   style="font-size:16px;background-color: #686868;color: white;"/>&nbsp;&nbsp;&nbsp;
            <a style="font-size: 23px;">
              <i class="fa fa-plus-square-o textblack" (click)="onDetailAdd()" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a style="font-size: 23px;"><i class="fa fa-pencil-square-o textblack" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a style="font-size: 23px;"><i class="fa fa-trash-o textblack" aria-hidden="true"></i></a>

          </p>

        </div>


      </div>

      <div class="row">
        <div class="col-md-4">
          <div style="margin-left: 20px;">
            <br/> <br/>
            <p style="font-size:16px;" class="textblack">
              Sales:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{this.sumCancelsSales()[0]}}</b></p>

            <p style="font-size:16px;" class="textblack">
              Cancels:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{this.sumCancelsSales()[1]}}</b></p>
            <br/>
            <p style="font-size:16px;margin:0;padding: 0;" class="textblack">Doc Stamp Tax: </p>
            <input type="number" placeholder="0.00" [(ngModel)]="this.stampTax"/>
            <p style="font-size:16px;margin:0;padding: 0;" class="textblack">Payouts: </p>
            <input type="number" placeholder="0.00" [(ngModel)]="this.payouts"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="table-responsive mt-2">
            <ngx-datatable
              class="bootstrap striped"
              [loadingIndicator]="isLoading"
              id="detailTable"
              [rows]="this.rows"
              columnMode="force"
              [columns]="this.columns"
              [selected]="this.selectedRows"
              [selectionType]="this.selectionType"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              (select)="onSelect($event)"
              rowHeight="auto"
              [reorderable]="true"
              [count]="this.details.length"
              [limit]="10"
              [externalPaging]="false"
              #datatableComponent
            >
              <!--              <ngx-datatable-column-->
              <!--                [width]="30"-->
              <!--                [sortable]="false"-->
              <!--                [canAutoResize]="false"-->
              <!--                [draggable]="false"-->
              <!--                [resizeable]="false"-->
              <!--                [headerCheckboxable]="true"-->
              <!--                [checkboxable]="true"-->
              <!--              >-->
              <!--              </ngx-datatable-column>-->
              <!--              <ngx-datatable-column name="Item Code" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.itemCode.itemCode }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Sales" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.sales }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Commission" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.commission }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

              <!--              <ngx-datatable-column name="Cancels" [width]="70" [resizeable]="false">-->
              <!--                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>-->
              <!--                  {{ row.cancels }}-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->

            </ngx-datatable>
          </div>

          <!--          <div class="insideContent">-->
          <!--            <table style="width: 100%;" class="table table-bordered">-->
          <!--              <tr>-->
          <!--                <th>Item Code</th>-->
          <!--                <th>Sales</th>-->
          <!--                <th>Commission</th>-->
          <!--                <th>Cancels</th>-->

          <!--              </tr>-->

          <!--            </table>-->
          <!--            <table style="width: 100%;">-->
          <!--              <tr *ngFor="let detail of details">-->
          <!--                <td><input type="checkbox" name="vehicle1" value="ex1"></td>-->
          <!--                <td><p class="f-14">{{detail.itemCode.itemCode}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.sales}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.commission}}</p></td>-->
          <!--                <td><p class="f-14">{{detail.cancels}}</p></td>-->

          <!--              </tr>-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" id="vehicle1" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;              <tr>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><input type="checkbox" name="vehicle1" value="ex1"></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">Item Code</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;                <td><p class="f-14">P XXX</p></td>&ndash;&gt;-->
          <!--              &lt;!&ndash;              </tr>&ndash;&gt;-->
          <!--            </table>-->


          <!--          </div>-->

        </div>

      </div>


      <div>
        <div class="row">


          <div class="col-md-12">
            <br/><br/>
            <p style="font-size:14px;text-align: right;">
              <button class="btn1 btn btn-success" (click)="onSaveModal()">Save</button>
              &nbsp;
              <button class="btn1" (click)="onBackModal()">Back</button>
            </p>


          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
