<app-loader [show]="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5 *ngIf="!isEditing">Add Region</h5>
          <h5 *ngIf="isEditing">Edit Region</h5>
        </div>
        <div class="card-body">
          <form class="needs-validation" (ngSubmit)="this.submitForm()" [formGroup]="this.regionFormGroup" novalidate>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="regionId">Region Id</label>
                <input type="text" class="form-control" id="regionId" placeholder="Region Id" formControlName="regionId"
                       required>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.required"
                     class="text text-danger">
                  Region Id is required.
                </div>
                <div *ngIf="this.form.regionId.touched && this.form.regionId.errors?.maxlength"
                     class="text text-danger">
                  Region Id must be less than {{this.form.regionId.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="regionName">Region Name</label>
                <input type="text" class="form-control" id="regionName" placeholder="Region Name"
                       formControlName="regionName" required>
                <div *ngIf="this.form.regionName.touched && this.form.regionName.errors?.required"
                     class="text text-danger">
                  Region Name is required.
                </div>
                <div *ngIf="this.form.regionName.touched && this.form.regionName.errors?.maxlength"
                     class="text text-danger">
                  Region Name must be less than {{this.form.regionName.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="userCode">User Code</label>
                <input type="text" class="form-control" id="userCode" placeholder="User Code" formControlName="userCode"
                       required>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.required"
                     class="text text-danger">
                  User Code is required.
                </div>
                <div *ngIf="this.form.userCode.touched && this.form.userCode.errors?.maxlength"
                     class="text text-danger">
                  User Code must be less than {{this.form.userCode.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="islandGrouping">Island Grouping</label>
                <input type="text" class="form-control" id="islandGrouping" placeholder="Island Grouping"
                       formControlName="islandGrouping" required>
                <div *ngIf="this.form.islandGrouping.touched && this.form.islandGrouping.errors?.required"
                     class="text text-danger">
                  Island Grouping is required.
                </div>
                <div *ngIf="this.form.islandGrouping.touched && this.form.islandGrouping.errors?.maxlength"
                     class="text text-danger">
                  Island Grouping must be less than {{this.form.islandGrouping.errors?.maxlength?.requiredLength}}
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="islandOrder">Island Order</label>
                <input type="number" class="form-control" id="islandOrder" placeholder="User Code"
                       formControlName="islandOrder" required>
                <div *ngIf="this.form.islandOrder.touched && this.form.islandOrder.errors?.required"
                     class="text text-danger">
                  Island Order is required.
                </div>
                <div *ngIf="this.form.islandOrder.touched && this.form.islandOrder.errors?.maxlength"
                     class="text text-danger">
                  Island Order must be less than {{this.form.islandOrder.errors?.maxlength?.requiredLength}}
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="d-block" for="chk-ani">
                <input class="checkbox_animated" id="chk-ani"
                       type="checkbox" formControlName="showInSearch">
                Show In Search
              </label>
            </div>
            <button class="btn btn-primary mt-1" [disabled]="this.regionFormGroup.invalid" type="submit">
              {{this.isEditing ? 'Update' : 'Submit'}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
